<div role="alert">
  <p class="alert alert-success"><%= notice %></p>
</div>

<div id="single-item">
  <%= image_tag @item.image_url, :class => 'item-image'  %>
  <h3><%= @item.title %></h3>
  <h4>Description:</h4>
  <p><%= @item.description %></p>
  <p>
    Price <%= number_to_currency(@item.price, :unit => "€") %>
    <br>
    Category: <%= @item.category %>
    <br>
    <%#= Brand: <%= @item.brand %>
  </p>
  <%= link_to 'Back to Products',  items_path, :class => "button", :role => "button" %>
  
  <!-- show "sold out" or "add to cart" -->
  <% if @item.inStock? %>
    <p>
      <button class="btn1" onclick="window.location.href='/cart/<%= @item.id %>'">
        <span class="circle" aria-hidden="true">
            <span class="icon arrow"></span>
        </span>
        <span class="button-text">Add to Cart</span>
      </button>
    </p>
  <% else %>
    <p class="error">Sold Out</p>
  <% end %>
  <% if user_signed_in? %>
    <% if current_user.admin? %>
      <a <%= link_to 'Edit', edit_item_path(@item), :role=>"button" %></a>
      <a <%= link_to 'Destroy', @item, method: :delete, data: { confirm: 'Are you sure?' }, :role=>"button" %></a>
    <% end %>
  <% end %>
  <div class="clear"></div>
</div>


