<p id="notice"><%= notice %></p>


<h1>Proveniences</h1>


<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">Image</th>
      <th scope="col">Actions</th>
      <th scope="col">Actions</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @proveniences.each do |provenience| %>
      <tr>
        <td><%= provenience.title %></td>
        <td><%= provenience.description %></td>
        <td><%= provenience.image %></td>
        <td><%= link_to 'Show', provenience %></td>
        <td><%= link_to 'Edit', edit_provenience_path(provenience) %></td>
        <td><%= link_to 'Destroy', provenience, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>


  </tbody>
</table>


<br>

<%= link_to 'New Provenience', new_provenience_path %>



<div role="alert">
  <p class="alert alert-success"><%= notice %></p>
</div>


